.itemSelector {
  background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3),
    -3px -3px 6px rgba(255, 255, 255, 0.08);
  border-radius: 34px;
  padding: 20px 0;
  border: 2px solid #353a40;
}

.itemSelectorHeader {
  padding: 0 22px;
}

.itemSelectorImgWrapper {
  /* display: flex;
    justify-content: center; */
  padding: 1rem 0;
}

.itemSelectorImgWrapper {
  height: 220px;
}
